<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <% @forecast.each do |day| %>
    <h5> Date: <%= day.date %> </h5><br>
    <p> High: <%= day.high %> </p><br>
    <p> Low: <%= day.low %> </p><br>
    <p> Conditions: <%= day.conditions %> </p><br><br>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
